<section class="skills" id="skills">
  <h2 class="section-title">{{ langService.t().skills.title }}</h2>
  <p class="section-sub">{{ langService.t().skills.sub }}</p>

  <div class="skills-grid">

    <div class="skill-category">
      <h3>Programming</h3>
      <ul>
        <li>C / C++</li>
        <li>Java</li>
        <li>Typescript</li>
        <li>PostgreSQL</li>
      </ul>
    </div>

    <div class="skill-category">
      <h3>Tools & Tech</h3>
      <ul>
        <li>Git & GitHub</li>
        <li>Linux</li>
        <li>MATLAB</li>
        <li>Nestjs</li>
        <li>Angular</li>
      </ul>
    </div>

    <div class="skill-category">
      <h3>Other</h3>
      <ul>
        <li>Cybersecurity</li>
        <li>CAD Design</li>
        <li>Microsoft Office</li>
        <li>Lucru în echipă</li>
      </ul>
    </div>

  </div>
</section>